/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document ========================================================================== */
/** * 1. Correct the line height in all browsers. * 2. Prevent adjustments of font size after orientation changes in iOS. */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections ========================================================================== */
/** * Remove the margin in all browsers. */
body {
  margin: 0; }

/** * Render the `main` element consistently in IE. */
main {
  display: block; }

/** * Correct the font size and margin on `h1` elements within `section` and * `article` contexts in Chrome, Firefox, and Safari. */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content ========================================================================== */
/** * 1. Add the correct box sizing in Firefox. * 2. Show the overflow in Edge and IE. */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/** * 1. Correct the inheritance and scaling of font size in all browsers. * 2. Correct the odd `em` font sizing in all browsers. */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics ========================================================================== */
/** * Remove the gray background on active links in IE 10. */
a {
  background-color: transparent; }

/** * 1. Remove the bottom border in Chrome 57- * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/** * Add the correct font weight in Chrome, Edge, and Safari. */
b, strong {
  font-weight: bolder; }

/** * 1. Correct the inheritance and scaling of font size in all browsers. * 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/** * Add the correct font size in all browsers. */
small {
  font-size: 80%; }

/** * Prevent `sub` and `sup` elements from affecting the line height in * all browsers. */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content ========================================================================== */
/** * Remove the border on images inside links in IE 10. */
img {
  border-style: none; }

/* Forms ========================================================================== */
/** * 1. Change the font styles in all browsers. * 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/** * Show the overflow in IE. * 1. Show the overflow in Edge. */
button, input {
  /* 1 */
  overflow: visible; }

/** * Remove the inheritance of text transform in Edge, Firefox, and IE. * 1. Remove the inheritance of text transform in Firefox. */
button, select {
  /* 1 */
  text-transform: none; }

/** * Correct the inability to style clickable types in iOS and Safari. */
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

/** * Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/** * Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/** * Correct the padding in Firefox. */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/** * 1. Correct the text wrapping in Edge and IE. * 2. Correct the color inheritance from `fieldset` elements in IE. * 3. Remove the padding so developers are not caught out when they zero out * `fieldset` elements in all browsers. */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/** * Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
  vertical-align: baseline; }

/** * Remove the default vertical scrollbar in IE 10+. */
textarea {
  overflow: auto; }

/** * 1. Add the correct box sizing in IE 10. * 2. Remove the padding in IE 10. */
[type="checkbox"], [type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/** * Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

/** * 1. Correct the odd appearance in Chrome and Safari. * 2. Correct the outline style in Safari. */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/** * Remove the inner padding in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/** * 1. Correct the inability to style clickable types in iOS and Safari. * 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive ========================================================================== */
/* * Add the correct display in Edge, IE 10+, and Firefox. */
details {
  display: block; }

/* * Add the correct display in all browsers. */
summary {
  display: list-item; }

/* Misc ========================================================================== */
/** * Add the correct display in IE 10+. */
template {
  display: none; }

/** * Add the correct display in IE 10. */
[hidden] {
  display: none; }

@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSans.woff2") format("woff2"), url("fonts/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSans-Semibold.woff2") format("woff2"), url("fonts/OpenSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSans-Bold.woff2") format("woff2"), url("fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

:root {
  --con: 728px;
  --container: 20px;
  --trans: 0.3s linear all;
  --black: #333333;
  --grey3: #828282;
  --grey4: #C4C4C4;
  --white: #ffffff;
  --red: #EB5757; }
  @media screen and (min-width: 768px) {
    :root {
      --container: calc((100% - var(--con)) / 2); } }
  @media screen and (min-width: 1024px) {
    :root {
      --con: 964px; } }
  @media screen and (min-width: 1200px) {
    :root {
      --con: 1120px; } }
  @media screen and (min-width: 1440px) {
    :root {
      --con: 1200px; } }
  @media screen and (min-width: 1640px) {
    :root {
      --con: 1390px; } }

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--black); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1, h2, h3, h4, h5, p, ul, ol {
  margin: 0; }

ul {
  padding: 0;
  list-style: none; }

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans); }

picture {
  line-height: 0; }

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

a {
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans); }

.main {
  margin-top: 70px; }
  @media screen and (min-width: 1024px) {
    .main {
      margin-top: 44px; } }

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 26px;
  padding-left: var(--container);
  padding-right: var(--container);
  background-color: var(--white);
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans); }
  @media screen and (min-width: 1024px) {
    .header {
      padding-top: 8px;
      padding-bottom: 8px;
      -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
              box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); } }
  .header--hide {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
    visibility: hidden; }
  .header__logo {
    width: 67px; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .header__mobile-open {
    margin-left: 24px; }

.logo {
  width: 100%;
  height: auto;
  max-height: 16px;
  -o-object-fit: contain;
     object-fit: contain; }

.head-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.head-nav__item + .head-nav__item {
  margin-left: 24px; }

.head-nav__link, .mobile-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px;
  color: var(--black);
  text-decoration: none; }
  .head-nav__link:hover, .mobile-open:hover {
    color: var(--grey3); }
  .head-nav__link:active, .mobile-open:active {
    color: var(--red); }
  .head-nav__link--favorite {
    color: var(--red); }
    .head-nav__link--favorite .head-nav__icon, .head-nav__link--favorite .mobile-open__icon {
      fill: var(--red); }
  .head-nav__link--cart {
    position: relative; }

.head-nav__icon, .mobile-open__icon {
  width: 18px;
  stroke: currentColor; }

.head-nav__cart-items {
  position: absolute;
  bottom: -4px;
  right: -4px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--red);
  color: var(--white);
  font-size: 10px;
  line-height: 1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans); }
  .head-nav__cart-items--added {
    visibility: visible;
    opacity: 1; }

@media screen and (min-width: 768px) {
  .mobile-open {
    display: none; } }

.mobile-menu {
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 80px 20px 43px 30px;
  background-color: var(--white);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans); }
  @media screen and (min-width: 768px) {
    .mobile-menu {
      display: none; } }
  .mobile-menu--open {
    -webkit-transform: translate(0px, 100%);
        -ms-transform: translate(0px, 100%);
            transform: translate(0px, 100%); }
  .mobile-menu__item {
    display: block; }
    .mobile-menu__item + .mobile-menu__item {
      margin-top: 30px; }
  .mobile-menu__link {
    color: var(--black);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-decoration: none; }
    .mobile-menu__link:hover {
      color: var(--grey3); }
    .mobile-menu__link:active {
      color: var(--red); }
  .mobile-menu__close {
    position: absolute;
    top: 18px;
    right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px; }
    .mobile-menu__close:hover {
      color: var(--red); }
    .mobile-menu__close:active {
      color: var(--grey3); }
  .mobile-menu__close-icon {
    width: 14px;
    stroke: currentColor; }

.footer {
  padding: 42px var(--container) 186px; }
  @media screen and (min-width: 768px) {
    .footer {
      padding-top: 60px;
      padding-bottom: 150px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      -webkit-column-gap: 9px;
         -moz-column-gap: 9px;
              column-gap: 9px; } }
  @media screen and (min-width: 1024px) {
    .footer {
      padding-top: 90px;
      padding-bottom: 100px; } }
  @media screen and (min-width: 1200px) {
    .footer {
      padding: 100px calc(var(--container) + 59px) 90px;
      -webkit-column-gap: 16px;
         -moz-column-gap: 16px;
              column-gap: 16px; } }
  @media screen and (min-width: 1640px) {
    .footer {
      padding: 130px calc(var(--container) + 117px) 70px; } }
  .footer__navs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 9px;
       -moz-column-gap: 9px;
            column-gap: 9px;
    margin-bottom: 58px; }
    @media screen and (min-width: 768px) {
      .footer__navs {
        margin-bottom: 0; } }
    @media screen and (min-width: 1200px) {
      .footer__navs {
        -webkit-column-gap: 16px;
           -moz-column-gap: 16px;
                column-gap: 16px; } }
  .footer__title {
    max-width: 190px;
    margin-bottom: 16px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase; }
    @media screen and (min-width: 768px) {
      .footer__title {
        max-width: unset; } }

.footer-nav__item {
  display: block; }
  .footer-nav__item + .footer-nav__item {
    margin-top: 8px; }

.footer-nav__link {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: var(--black);
  text-decoration: none; }
  .footer-nav__link:hover {
    color: var(--red); }
  .footer-nav__link:active {
    color: var(--grey3); }

.subscribe-form__input {
  display: block;
  margin-bottom: 25px;
  width: 100%;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: var(--grey3);
  border: none;
  border-bottom: 1px solid var(--grey4);
  outline: none;
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans); }
  .subscribe-form__input:hover {
    color: var(--grey4); }
  .subscribe-form__input:focus {
    border-bottom-color: var(--black);
    color: var(--black); }
  .subscribe-form__input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: currentColor; }
  .subscribe-form__input::-moz-placeholder {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: currentColor; }
  .subscribe-form__input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: currentColor; }
  .subscribe-form__input::-ms-input-placeholder {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: currentColor; }
  .subscribe-form__input::placeholder {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: currentColor; }

.subscribe-form__error-con {
  position: relative; }

.subscribe-form__error {
  position: absolute;
  bottom: 100%;
  left: 0;
  color: var(--red);
  font-size: 14px;
  line-height: 20px;
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
  opacity: 0;
  visibility: hidden; }
  .subscribe-form__error--show {
    visibility: visible;
    opacity: 1; }

.subscribe-form__submit {
  display: block;
  padding: 8px 28px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  border: 1px solid var(--black);
  background-color: var(--white); }
  .subscribe-form__submit:hover {
    background-color: var(--black);
    color: var(--white); }
  .subscribe-form__submit:active {
    background-color: var(--grey4);
    border-color: var(--grey4);
    color: var(--black); }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
  opacity: 0;
  visibility: hidden; }
  .modal--show {
    opacity: 1;
    visibility: visible; }
  .modal__content {
    min-width: 300px;
    max-width: 80vw;
    padding: 16px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 10px;
    background-color: var(--white);
    -webkit-box-shadow: 0 0 5px 0px var(--grey3);
            box-shadow: 0 0 5px 0px var(--grey3); }

@media screen and (min-width: 768px) {
  .item {
    padding: 16px var(--container) 0; } }

@media screen and (min-width: 1024px) {
  .item {
    padding-top: 24px; } }

@media screen and (min-width: 768px) {
  .item__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 18px;
       -moz-column-gap: 18px;
            column-gap: 18px; } }

.item__link-con {
  padding-bottom: 60px; }
  @media screen and (min-width: 768px) {
    .item__link-con {
      padding: 30px 0; } }

.item__more-styles {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--black); }
  .item__more-styles:hover {
    color: var(--red); }
  .item__more-styles:active {
    color: var(--grey3); }

.preview {
  position: relative; }
  .preview__nav {
    position: absolute;
    top: 20px;
    left: 20px; }
  .preview__big {
    display: block;
    width: 100%;
    aspect-ratio: 0.78; }

.switch-prev {
  position: relative;
  width: 40px;
  line-height: 0; }
  .switch-prev + .switch-prev {
    margin-top: 4px; }
  .switch-prev__pic {
    width: 100%;
    aspect-ratio: 0.78; }
  .switch-prev__btn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    height: 100%; }
  .switch-prev:not(.switch-prev--active)::after {
    opacity: 0; }
  .switch-prev::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    opacity: 0.3; }

.info {
  padding: 20px 20px 30px; }
  .info__title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px; }
  .info__art {
    margin-bottom: 16px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: var(--grey3); }
  .info__reviews {
    margin-bottom: 26px; }
  .info__details {
    position: relative;
    margin-top: 30px;
    padding: 24px 0; }
    .info__details::before {
      content: "";
      position: absolute;
      top: 0;
      left: -20px;
      width: calc(100% + 40px);
      height: 1px;
      background-color: var(--grey4); }

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em; }
  .reviews__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-column-gap: 4px;
       -moz-column-gap: 4px;
            column-gap: 4px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-decoration: none;
    color: var(--black); }
    .reviews__link:hover {
      color: var(--red); }
      .reviews__link:hover .reviews__link-icon {
        stroke: var(--red); }
    .reviews__link:active {
      color: var(--grey3); }
      .reviews__link:active .reviews__link-icon {
        stroke: var(--grey3); }
  .reviews__link-icon {
    width: 24px;
    stroke: var(--black); }
  .reviews__rate {
    margin-right: 12px;
    margin-left: 4px;
    stroke: var(--black);
    stroke-width: 1px; }
    .reviews__rate[data-rate="1"] .reviews__star:nth-child(1) {
      fill: var(--black); }
    .reviews__rate[data-rate="2"] .reviews__star:nth-child(1),
    .reviews__rate[data-rate="2"] .reviews__star:nth-child(2) {
      fill: var(--black); }
    .reviews__rate[data-rate="3"] .reviews__star:nth-child(1),
    .reviews__rate[data-rate="3"] .reviews__star:nth-child(2),
    .reviews__rate[data-rate="3"] .reviews__star:nth-child(3) {
      fill: var(--black); }
    .reviews__rate[data-rate="4"] .reviews__star:nth-child(1),
    .reviews__rate[data-rate="4"] .reviews__star:nth-child(2),
    .reviews__rate[data-rate="4"] .reviews__star:nth-child(3),
    .reviews__rate[data-rate="4"] .reviews__star:nth-child(4) {
      fill: var(--black); }
    .reviews__rate[data-rate="5"] .reviews__star:nth-child(1),
    .reviews__rate[data-rate="5"] .reviews__star:nth-child(2),
    .reviews__rate[data-rate="5"] .reviews__star:nth-child(3),
    .reviews__rate[data-rate="5"] .reviews__star:nth-child(4),
    .reviews__rate[data-rate="5"] .reviews__star:nth-child(5) {
      fill: var(--black); }
  .reviews__star {
    width: 12px; }

.price {
  padding: 12px 0; }
  .price__vals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 12px;
       -moz-column-gap: 12px;
            column-gap: 12px;
    padding: 8px 0; }
  .price__actuall {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase; }
  .price__old {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
    color: var(--grey3); }
  .price__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    gap: 9px;
    padding: 4px 0; }
  .price__sale {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-align: center;
    border: 1px solid var(--black); }

.size__select-con {
  position: relative;
  width: 100%;
  max-width: 315px;
  display: block; }
  .size__select-con::after {
    content: "";
    position: absolute;
    z-index: 5;
    top: 10px;
    right: 8px;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.75 7.75L11.75 15.75L5.25 7.75' stroke='%23333333'/%3E%3C/svg%3E%0A");
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center; }

.size__select {
  display: block;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 12px 16px;
  padding-right: 36px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  border: 1px solid var(--black);
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
  color: var(--black);
  outline: none; }
  .size__select:active {
    border-color: var(--grey3); }

.size__choose {
  position: relative;
  margin: 12px 0 40px; }

.size__btn {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #333333; }
  .size__btn:hover {
    color: var(--red); }
    .size__btn:hover + .size__tooltip {
      -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
              transform: translate(0, 0);
      opacity: 1;
      visibility: visible; }
  .size__btn:active {
    color: var(--grey3); }

.size__tooltip {
  position: absolute;
  top: 120%;
  left: 0;
  z-index: 2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 10px;
  background-color: var(--white);
  -webkit-box-shadow: 0 0 5px 0px var(--grey3);
          box-shadow: 0 0 5px 0px var(--grey3);
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
  -webkit-transform: translate(0, 40px);
      -ms-transform: translate(0, 40px);
          transform: translate(0, 40px);
  opacity: 0;
  visibility: hidden; }
  .size__tooltip--show {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
    visibility: visible; }

.quant__btns {
  margin-bottom: 13px; }

.quant__change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--grey4); }

.quant__val {
  width: 40px;
  background-color: transparent;
  text-align: center;
  border: none; }

.quant__change-btn {
  padding: 11px 19px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  border: 1px solid var(--grey4);
  color: var(--black); }
  .quant__change-btn:hover {
    border-color: var(--black); }
  .quant__change-btn:active {
    border-color: var(--grey3); }

.quant__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  margin-top: 15px; }

.quant__cart {
  padding: 12px 28px;
  background-color: var(--black);
  color: var(--white);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em; }
  .quant__cart:hover {
    background-color: var(--red); }
  .quant__cart:active {
    background-color: var(--grey3); }

.quant__fav {
  padding: 10px;
  background-color: var(--black);
  line-height: 0; }
  .quant__fav:hover {
    background-color: var(--red); }
  .quant__fav:active {
    background-color: var(--grey3); }

.quant__fav-icon {
  height: 24px; }

.quant__one-click {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--black); }
  .quant__one-click:hover {
    color: var(--red); }
  .quant__one-click:active {
    color: var(--grey3); }

.item-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--black); }
  .item-detail:hover {
    color: var(--red); }
  .item-detail:active {
    color: var(--grey3); }
  .item-detail__icon {
    width: 20px; }
  .item-detail + .item-detail {
    margin-top: 12px; }

@media screen and (min-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding: 0 var(--container); } }

@media screen and (min-width: 1024px) {
  .gallery {
    gap: 16px; } }

.gallery__set {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px; }
  @media screen and (min-width: 768px) {
    .gallery__set {
      margin-top: 0; } }
  @media screen and (min-width: 1024px) {
    .gallery__set {
      gap: 16px; } }

.gallery-item {
  position: relative;
  aspect-ratio: 1;
  line-height: 0; }
  .gallery-item:hover .gallery-item__info {
    opacity: 1;
    visibility: visible; }
  .gallery-item__info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(51, 51, 51, 0.7);
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
    opacity: 0;
    visibility: hidden; }
  .gallery-item__copy {
    position: absolute;
    top: 12px;
    right: 12px; }
  .gallery-item__copy-icon {
    width: 24px; }
  .gallery-item__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%; }
  .gallery-item__link-icon {
    display: block;
    margin: 0 auto;
    width: 48px; }
  .gallery-item__link-content {
    position: relative;
    width: 100%;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans); }
  .gallery-item__link-text {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white); }
  .gallery-item__favorite {
    position: absolute;
    bottom: 16px;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 2px;
       -moz-column-gap: 2px;
            column-gap: 2px; }
  .gallery-item__favorite-icon {
    width: 24px; }
  .gallery-item__favorite-text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: var(--white); }
