:root{
    --con: 728px;
    --container: 20px;
    @media screen and (min-width: 768px) {
        --container: calc((100% - var(--con)) / 2);
    }
    @media screen and (min-width: 1024px) {
        --con: 964px;
    }
    @media screen and (min-width: 1200px) {
        --con: 1120px;
    }
    @media screen and (min-width: 1440px) {
        --con: 1200px;
    }
    @media screen and (min-width: 1640px) {
        --con: 1390px;
    }

    --trans: 0.3s linear all;

    --black: #333333;
    --grey3: #828282;
    --grey4: #C4C4C4;
    --white: #ffffff;
    --red: #EB5757;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: var(--black);
}
*{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, p, ul, ol{
    margin: 0;
}
ul{
    padding: 0;
    list-style: none;
}
button{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: var(--trans);
}
picture{
    line-height: 0;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a{
    transition: var(--trans);
}
.main{
    margin-top: 70px;
    @media screen and (min-width: 1024px) {
        margin-top: 44px;
    }
}