.footer{
    padding: 42px var(--container) 186px;
    @media screen and (min-width: 768px){
        padding-top: 60px;
        padding-bottom: 150px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 9px;
    }
    @media screen and (min-width: 1024px){
        padding-top: 90px;
        padding-bottom: 100px;
    }
    @media screen and (min-width: 1200px){
        padding: 100px calc(var(--container) + 59px) 90px;
        column-gap: 16px;
    }
    @media screen and (min-width: 1640px){
        padding: 130px calc(var(--container) + 117px) 70px;
    }
    &__navs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 9px;
        margin-bottom: 58px;
        @media screen and (min-width: 768px){
            margin-bottom: 0;
        }
        @media screen and (min-width: 1200px){
            column-gap: 16px;
        }
    }
    &__title{
        max-width: 190px;
        margin-bottom: 16px;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        @media screen and (min-width: 768px){
            max-width: unset;
        }
    }
}
.footer-nav{
    &__list{}
    &__item{
        display: block;
        & + &{
            margin-top: 8px;
        }
    }
    &__link{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.04em;
        color: var(--black);
        text-decoration: none;
        &:hover{
            color: var(--red);
        }
        &:active{
            color: var(--grey3);
        }
    }
}
.subscribe-form{
    &__input{
        display: block;
        margin-bottom: 25px;
        width: 100%;
        padding: 8px 16px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.04em;
        color: var(--grey3);
        border: none;
        border-bottom: 1px solid var(--grey4);
        outline: none;
        transition: var(--trans);
        &:hover{
            color: var(--grey4);
        }
        &:focus{
            border-bottom-color: var(--black);
            color: var(--black);
        }
        &::placeholder{
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.04em;
            color: currentColor;
        }
    }
    &__error-con{
        position: relative;
    }
    &__error{
        position: absolute;
        bottom: 100%;
        left: 0;
        color: var(--red);
        font-size: 14px;
        line-height: 20px;
        transition: var(--trans);
        opacity: 0;
        visibility: hidden;
        &--show{
            visibility: visible;
            opacity: 1;
        }
    }
    &__submit{
        display: block;
        padding: 8px 28px;
        width: fit-content;
        margin-left: auto;
        border: 1px solid var(--black);
        background-color: var(--white);
        &:hover{
            background-color: var(--black);
            color: var(--white);
        }
        &:active{
            background-color: var(--grey4);
            border-color: var(--grey4);
            color: var(--black);
        }
    }
}