.gallery{
    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        padding: 0 var(--container);
    }
    @media screen and (min-width: 1024px) {
        gap: 16px;
    }
    &__set{
        margin-top: 8px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        @media screen and (min-width: 768px) {
            margin-top: 0;
        }
        @media screen and (min-width: 1024px) {
            gap: 16px;
        }
    }
}
.gallery-item{
    position: relative;
    aspect-ratio: 1;
    line-height: 0;
    &:hover{
        .gallery-item__info{
            opacity: 1;
            visibility: visible;
        }
        
    }
    &__info{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba(#333333, 0.7);
        transition: var(--trans);
        opacity: 0;
        visibility: hidden;
    }
    &__copy{
        position: absolute;
        top: 12px;
        right: 12px;
    }
    &__copy-icon{
        width: 24px;
    }
    &__link{
        // position: relative;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    &__link-icon{
        display: block;
        margin: 0 auto;
        width: 48px;
    }
    &__link-content{
        position: relative;
        width: 100%;
        transition: var(--trans);
    }
    &__link-text{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.04em;
        text-align: center;
        color: var(--white);
    }
    &__favorite{
        position: absolute;
        bottom: 16px;
        transform: translate(-50%, 0);
        left: 50%;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: center;
        column-gap: 2px;
    }
    &__favorite-icon{
        width: 24px;
    }
    &__favorite-text{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.04em;
        color: var(--white);
    }
}