.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 26px;
    padding-left: var(--container);
    padding-right: var(--container);
    background-color: var(--white);
    transition: var(--trans);
    @media screen and (min-width: 1024px){
        padding-top: 8px;
        padding-bottom: 8px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
    &--hide{
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
    }
    &__logo{
        width: 67px;
    }
    &__nav{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
    }
    &__mobile-open{
        margin-left: 24px;
    }
}
.logo{
    width: 100%;
    height: auto;
    max-height: 16px;
    object-fit: contain;
}
.head-nav{
    &__list{   
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
    }
    &__item{
        & + &{
            margin-left: 24px;
        }
    }
    &__link{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        color: var(--black);
        text-decoration: none;
        &:hover{
            color: var(--grey3);
        }
        &:active{
            color: var(--red);
        }
        &--favorite{
            color: var(--red);
            .head-nav__icon{
                fill: var(--red);
            }
        }
        &--cart{
            position: relative;
        }
    }
    &__icon{
        width: 18px;
        stroke: currentColor;
    }
    &__cart-items{
        position: absolute;
        bottom: -4px;
        right: -4px;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: var(--red);
        color: var(--white);
        font-size: 10px;
        line-height: 1;
        visibility: hidden;
        opacity: 0;
        transition: var(--trans);
        &--added{
            visibility: visible;
            opacity: 1;
        }
    }

}
.mobile-open{
    @extend .head-nav__link;
    @media screen and (min-width: 768px){
        display: none;
    }
    &__icon{
        @extend .head-nav__icon;
    }   
}
.mobile-menu{
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 80px 20px 43px 30px;
    background-color: var(--white);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: var(--trans);
    @media screen and (min-width: 768px){
        display: none;
    }
    &--open{
        transform: translate(0px, 100%);
    }
    &__item{
        display: block;
        & + &{
            margin-top: 30px;
        }
    }
    &__link{
        color: var(--black);
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-decoration: none;
        &:hover{
            color: var(--grey3);
        }
        &:active{
            color: var(--red);
        }
    }
    &__close{
        position: absolute;
        top: 18px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        &:hover{
            color: var(--red);
        }
        &:active{
            color: var(--grey3);
        }
    }
    &__close-icon{
        width: 14px;
        stroke: currentColor;
    }

}