.item{
    @media screen and (min-width: 768px) {
        padding: 16px var(--container) 0;
    }
    @media screen and (min-width: 1024px) {
        padding-top: 24px;
    }
    &__content{
        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 18px;
        }
    }
    &__link-con{
        padding-bottom: 60px;
        @media screen and (min-width: 768px) {
            padding: 30px 0;
        }
        
    }
    &__more-styles{
        display: block;
        width: fit-content;
        margin: 0 auto;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.04em;
        text-decoration-line: underline;
        color: var(--black);
        &:hover{
            color: var(--red);
        }
        &:active{
            color: var(--grey3);
        }
    }
}
.preview{
    position: relative;
    &__nav{
        position: absolute;
        top: 20px;
        left: 20px;

    }
    &__big{
        display: block;
        width: 100%;
        aspect-ratio: 0.78;
    }
}
.switch-prev{
    position: relative;
    width: 40px;
    line-height: 0;
    & + &{
        margin-top: 4px;
    }
    &__pic{
        width: 100%;
        aspect-ratio: 0.78;
    }
    &__btn{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
    }
    &:not(&--active)::after{
        opacity: 0;
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: var(--white);
        opacity: 0.3;
    }
}

.info{
    padding: 20px 20px 30px;
    &__title{
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    }
    &__art{
        margin-bottom: 16px;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.04em;
        color: var(--grey3);
    }
    &__reviews{
        margin-bottom: 26px;
    }
    &__details{
        position: relative;
        margin-top: 30px;
        padding: 24px 0;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: -20px;
            width: calc(100% + 40px);
            height: 1px;
            background-color: var(--grey4);
        }
    }
}
.reviews{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    &__link{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        column-gap: 4px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.04em;
        text-decoration: none;
        color: var(--black);
        &:hover{
            color: var(--red);
            .reviews__link-icon{
                stroke: var(--red);
            }
        }
        &:active{
            color: var(--grey3);
            .reviews__link-icon{
                stroke: var(--grey3);
            }
        }
    }
    &__link-icon{
        width: 24px;
        stroke: var(--black);
    }
    &__rate{
        margin-right: 12px;
        margin-left: 4px;
        stroke: var(--black);
        stroke-width: 1px;
        &[data-rate="1"]{
            .reviews__star:nth-child(1){
                fill: var(--black);
            }
        }
        &[data-rate="2"]{
            .reviews__star:nth-child(1),
            .reviews__star:nth-child(2){
                fill: var(--black);
            }
        }
        &[data-rate="3"]{
            .reviews__star:nth-child(1),
            .reviews__star:nth-child(2),
            .reviews__star:nth-child(3){
                fill: var(--black);
            }
        }
        &[data-rate="4"]{
            .reviews__star:nth-child(1),
            .reviews__star:nth-child(2),
            .reviews__star:nth-child(3),
            .reviews__star:nth-child(4){
                fill: var(--black);
            }
        }
        &[data-rate="5"]{
            .reviews__star:nth-child(1),
            .reviews__star:nth-child(2),
            .reviews__star:nth-child(3),
            .reviews__star:nth-child(4),
            .reviews__star:nth-child(5){
                fill: var(--black);
            }
        }
    }
    &__star{
        width: 12px;
    }
}
.price{
    padding: 12px 0;
    &__vals{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 12px;
        padding: 8px 0;
    }
    &__actuall{
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    }
    &__old{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.04em;
        text-decoration-line: line-through;
        color: var(--grey3);
    }
    &__details{
        display: flex;
        flex-flow: row wrap;
        gap: 9px;
        padding: 4px 0;
    }
    &__sale{
        width: fit-content;
        padding: 4px 8px;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.04em;
        text-align: center;
        border: 1px solid var(--black);
    }
}
.size{
    &__select-con{
        position: relative;
        width: 100%;
        max-width: 315px;
        display: block;
        &::after{
            content: "";
            position: absolute;
            z-index: 5;
            top: 10px;
            right: 8px;
            width: 24px;
            height: 24px;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.75 7.75L11.75 15.75L5.25 7.75' stroke='%23333333'/%3E%3C/svg%3E%0A");
            transition: var(--trans);
            transform-origin: center center;
        }
    }
    &__select{
        display: block;
        width: 100%;
        appearance: none;
        padding: 12px 16px;
        padding-right: 36px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.04em;
        border: 1px solid var(--black);
        transition: var(--trans);
        color: var(--black);
        outline: none;
        &:active{
            border-color: var(--grey3);
        }
    }
    &__choose{
        position: relative;
        margin: 12px 0 40px;
    }
    &__btn{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.04em;
        text-decoration-line: underline;
        color: #333333;
        &:hover{
            color: var(--red);
            & + .size__tooltip{
                transform: translate(0, 0);
                opacity: 1;
                visibility: visible;
            }
        }
        &:active{
            color: var(--grey3);
        }
        
    }
    &__tooltip{
        position: absolute;
        top: 120%;
        left: 0;
        z-index: 2;
        width: fit-content;
        padding: 16px;
        font-size: 14px;
        line-height: 20px;
        border-radius: 10px;
        background-color: var(--white);
        box-shadow: 0 0 5px 0px var(--grey3);
        transition: var(--trans);
        transform: translate(0, 40px);
        opacity: 0;
        visibility: hidden;
        &--show{
            transform: translate(0, 0);
            opacity: 1;
            visibility: visible;
        }
    }
}
.quant{
    &__btns{
        margin-bottom: 13px;
    }
    &__change{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        width: fit-content;
        background-color: var(--grey4);
    }
    &__val{
        width: 40px;
        background-color: transparent;
        text-align: center;
        border: none;
    }
    &__change-btn{
        padding: 11px 19px;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.04em;
        border: 1px solid var(--grey4);
        color: var(--black);
        &:hover{
            border-color: var(--black);
        }
        &:active{
            border-color: var(--grey3);
        }
    }
    &__actions{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        column-gap: 4px;
        margin-top: 15px;
    }
    &__cart{
        padding: 12px 28px;
        background-color: var(--black);
        color: var(--white);
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.04em;
        &:hover{
            background-color: var(--red);
        }
        &:active{
            background-color: var(--grey3);
        }
    }
    &__fav{
        padding: 10px;
        background-color: var(--black);
        line-height: 0;
        &:hover{
            background-color: var(--red);
        }
        &:active{
            background-color: var(--grey3);
        }
    }
    &__fav-icon{
        // width: 24px;
        height: 24px;
    }
    &__one-click{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.04em;
        text-decoration-line: underline;
        color: var(--black);
        &:hover{
            color: var(--red);
        }
        &:active{
            color: var(--grey3);
        }
    }
}
.item-detail{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 4px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: var(--black);
    &:hover{
        color: var(--red);
    }
    &:active{
        color: var(--grey3);
    }
    &__icon{
        width: 20px;
    }
    & + &{
        margin-top: 12px;
    }
}