.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    transition: var(--trans);
    opacity: 0;
    visibility: hidden;
    &--show{
        opacity: 1;
        visibility: visible;
    }
    &__content{
        min-width: 300px;
        max-width: 80vw;
        padding: 16px;
        font-size: 14px;
        line-height: 20px;
        border-radius: 10px;
        background-color: var(--white);
        box-shadow: 0 0 5px 0px var(--grey3);
    }
}